<div id="file-cabinet">
	<div class="wrapper">
		<h2>Milestones</h2>
		<div class="row">
			<div class="sort-by year col-sm-2">
				<button aria-label="Sort By Year">Year</button>
			</div>
			<div class="sort-by title col-sm-6">
				<button aria-label="Sort By Title">Title</button>
			</div>
			<div class="sort-by format col-xs-2">
				<button aria-label="Sort By Format">Format</button>
			</div>
			<div class="sort-by for col-xs-2">
				<button aria-label="Sort By For (Outlet)">For</button>
			</div>
		</div>
	</div>
	<ul id="files">
		{% for post in site.posts %}
		<li class="file">
			<div class="wrapper">
				<div class="opaque-background decoration"></div>
				<div class="row">
					<div class="year col-sm-2" data-date="{{ post.date }}">
						<span>{{ post.date | date: "%Y" }}</span>
					</div>
					<div class="title col-sm-6">
						{% if post.external-url %}
							<a href="{{ post.external-url }}" class="external" target="_blank"><span>{{ post.title }}</span> <i class="font-icon-new-window" role="icon" aria-label="open new window"></i></a>
						{% else %}
							<a href="{{ post.url }}"><span>{{ post.title }}</span></a>
						{% endif %}
					</div>
					<div class="format col-sm-2"><span>{{ post.format }}</span></div>
					<div class="for col-sm-2">
					{% if post.org-logo-filename && post.external-url %}
						<a href="{{ post.external-url }}" target="_blank"><i class="font-icon-{{ post.org-logo-filename }}-logo" role="icon"></i>
						<span>{{ post.for }}</span></a>
					{% else %}
						<span>{{ post.for }}</span>
					{% endif %}
					</div>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>