<footer>
	<nav>
		<ul id="page-list">
			{% for item in site.data.page-list.items %}
			<li><a href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
	</nav>
</footer>
<script type="text/javascript" src="/assets/js/scripts.js"></script>