<div id="hero">
	<div class="row">
		<div class="col-xs-12 col-sm-2">
			<div id="logo-lg">
				{% include logo.html %}
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div id="hero-text">
<<<<<<< HEAD
				<h1>Decreasing the mortality rate of black patients with Melanoma by 50%.</h1>
=======
				<h1>Building systems to identify melanomas on skin of color.</h1>
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
			</div>
		</div>
	</div>
</div>