<meta property="og:title" content="{% if page.title %}{{ page.title | truncate: 160 }}{% else %}{{ site.title | truncate: 160  }}{% endif %}"/>
<meta property="og:image" content="/assets/img/open-graph.jpg"/>
<meta property="og:description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}"/>
<meta property="og:url" content="{{page.url}}" />
