<div id="signup">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm">
			<form action="https://tinyletter.com/mendai" method="post" target="popupwindow" _lpchecked="1">
				<div>
					<label for="email">
						<p>Join our email list for occasional news and announcements.</p>
					</label>
				</div>
				<input name="email" type="text" placeholder="email@example.com" />
				<input id="email" type="hidden" value="1" name="embed">
				<button>Submit</button>
			</form>
		</div>
	</div>
</div>