@font-face {
  font-family: 'font-icons';
  src:
<<<<<<< HEAD
    url('/assets/css/font-icons/font-icons.ttf?ortm4b') format('truetype'),
    url('/assets/css/font-icons/font-icons.woff?ortm4b') format('woff'),
    url('/assets/css/font-icons/font-icons.svg?ortm4b#font-icons') format('svg');
=======
    url('/assets/css/font-icons/font-icons.ttf?9d5a1b') format('truetype'),
    url('/assets/css/font-icons/font-icons.woff?9d5a1b') format('woff'),
    url('/assets/css/font-icons/font-icons.svg?9d5a1b#font-icons') format('svg');
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

<<<<<<< HEAD
i {
=======
[class^="font-"], [class*=" font-"] {
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
.font-icon-latoya-lives-logo:before {
  content: "\1f322";
}
.font-icon-ama-logo:before {
  content: "\e904";
}
.font-icon-the-atlantic-logo:before {
  content: "\e905";
}
.font-icon-technically-logo:before {
  content: "\e906";
}
=======
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
.font-icon-caret-down:before {
  content: "\e900";
}
.font-icon-caret-up:before {
  content: "\e901";
}
.font-icon-new-window:before {
  content: "\e902";
}
