footer {
	padding: 50px 0 100px;
}

#page-list {
	margin: 0 auto;
	padding: 0;
	list-style: none;

	a {
		display: inline-block;
		padding: 5px 0;
		color: #fff;
	}

	@media(min-width: $min-desktop-width) {
		width: 90px;
	}
}