@import "vars";
@import "fonts";
@import "font-icons";
@import "hero";
@import "signup";
@import "file-cabinet";
@import "default";
@import "footer";

body {
	background: #1F6BB0;
	position: relative;
	color: $text-color;
<<<<<<< HEAD
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre {
=======
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
	font-family: "Open Sans", sans-serif;
}
.wrapper {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1000px;
}

p {
	margin: 0;
}

button {
	background: $button-color;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	&:hover,
<<<<<<< HEAD
	&:active,
	&:focus {
=======
	&:active {
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
		background: $button-hover-color;
		color: $button-hover-text-color;
	}
}

#wave {
	position: fixed;
	top: 0;
	// this background url style is updated dynamically through /assets/js/wave-decoration.js
	//background: url('/assets/img/wave-E3353_03.png') no-repeat right;
	z-index: -1;
	width: 100%;
	height: 100vh;
	opacity: .5;

	@media(min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
		background-size: cover !important;
		opacity: 1;
	}

	@media(min-width: $min-desktop-width) {
		background-size: contain !important;
		opacity: 1;
	}

	&.default {
		top: -150px;
	    width: 100%;
    	height: 600px;
	}

}

.decoration {
	//display: none;

	@media(min-width: $min-tablet-width) {
		display: block;
	}	
}

#contact table {
	th {
		display: none;
	}

	td:last-child {
		direction: rtl;
		unicode-bidi: bidi-override;
		text-align: left;
	}
}

<<<<<<< HEAD
.hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

=======
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
