#signup {
	margin: 20px 10px 0;
	max-width: 1000px;

	@media(min-width:$min-tablet-width) {
		margin-top: 40px;
	}

	p {
		font-size: 22px;
	}

	form {
		display: inline-block;

		&:hover {
			input {
				border-color: $button-hover-color;
				background: rgba(35, 132, 200, .9);

				&::placeholder {
					color: #D4E7F4;
				}
			}
			button {
				background: $button-hover-color;
				color: $button-hover-text-color;
			}
		}

		@media(min-width:$min-tablet-width) {
    		margin-top: 20px;
    	}
	}

	input {
		margin: 20px -6px 20px 0;
		width: 250px;
    	line-height: 44px;
    	padding: 0 22px;
    	border: 2px solid $button-color;
    	background: #0B579C;
    	color: #fff;

    	&::placeholder {
    		color: #97B7D5;
    	}

    	@media(max-width:320px) {
    		margin-right: 0;
    		width: 90%;
    		padding: 0 10px;
    		display: block;
    	}

    	@media(min-width:$min-tablet-width) and (max-width:$max-tablet-width) {
    		width: 160px;
    		display: inline-block;
    		margin: 13px -10px 0 0;
    	}
	}

	button {
		padding: 0 26px;
		height: 48px;
		line-height: 44px;
		
		@media(min-width:462px) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

}