---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	{% if page.page-id %}
	<body id="{{ page.page-id }}">
	{% else %}
	<body>
	{% endif %}
		<div id="wave" class="decoration default"></div>
		<div class="wrapper">
			<div id="default-header">
				<header>
					<div class="row">
						<div class="col-xs-12 col-sm-offset-1 col-sm-2">
							<div id="logo-sm">
								<a href="/">{% include logo.html %}</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-9">
							<div class='default-title'>
								<h1>{{ page.title }}</h1>
							</div>
						</div>
						{% if page.layout == 'post' %}
						<div class="col-xs-12 col-sm-offset-3 col-sm-9">
							<div id="details">
								<div class="date">
									<span class="label"><i>Date</i> </span>
									<span class="value">{{ page.date | date: "%B %d, %Y" }}</span>
								</div>
								<div class="format">
									<span class="label"><i>Format</i> </span>
									<span class="value">{{ page.format }}</span>
								</div>
								<div class="for">
									<span class="label"><i>For</i> </span>
									<span class="value">{{ page.for }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</header>
			</div>
		</div>
		<div id="default-content">
			<div class="wrapper">
				<div class="row">
					<div class="col-xs-12 col-sm-offset-3 col-sm-7">
						<div id="content">
							{{ content }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="row">
				<div class="col-xs-12 col-sm-offset-1 col-sm-2">
					{% include footer.html %}
				</div>
			</div>
		</div>
	</body>
</html>
